<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="consoleLogTarget" xsi:type="File" fileName="../Logs/console.log"
            layout="${date:universalTime=true:format=u}|${callsite:includeSourcePath=false:includeNamespace=false}|${message} ${exception:format=tostring}"
            archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd-HH-mm"
            />
    <target name="heartbeatLogTarget" xsi:type="File" fileName="../Logs/heartbeat.log" 
            layout="${date:universalTime=true:format=u}|${message} "
            archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd-HH-mm"
            />
    <target name="requestsLogTarget" xsi:type="File" fileName="../Logs/requests.log" 
            layout="${date:universalTime=true:format=u}|${message}" 
            archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyy-MM-dd-HH-mm"
            />
    <target name="consoleTarget" xsi:type="Console" 
            layout="${date:universalTime=true:format=u}|${message}" 
            />
  </targets>

  <rules>
    <!-- These loggers won't pollute console with INFO or below. Final loggers have to be declared first. -->
    <logger name="PersistentMapServer.Worker.HeartBeatMonitor" writeTo="heartbeatLogTarget" 
            minLevel="debug" maxLevel="info" final="true" />
    <logger name="PersistentMapServer.MessageInspector.RequestDurationLoggingInspector" writeTo="requestsLogTarget" 
            minLevel="debug" maxLevel="info" final="true" />

    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
    <logger name="*" minlevel="Debug" writeTo="consoleLogTarget" />

  </rules>
</nlog>